@layer theme, base, mui, components, utilities;

@import "tailwindcss";
@config "./theme/tailwind.config.ts";

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-dark-bg);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-dark-border);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark-border-light);
  }
}
